.fristRow__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.table__container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thead {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(243, 242, 241);
}
.tbody {
  text-align: center;
  font-size: 12px;
  min-height: 42px;
  border-bottom: 1px solid rgb(243, 242, 241);
}
td a {
  text-decoration: none;
}
