@import '~office-ui-fabric-react/dist/sass/References.scss';

.formularioHr {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}


:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
   
    max-width: 100% !important;
  }
  .CanvasZone > div {
    max-width: none !important;
  }
}